* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light dark;
}
body{
    background-color: rgb(7, 7, 67);

}

.container {
    width: 100vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    background-image: linear-gradient(rgba(78, 72, 72, 0.4), rgba(61, 59, 59, 0.6)), url("https://i0.wp.com/picjumbo.com/wp-content/uploads/red-and-blue-pillars-wallpaper-abstract-background-free-image.jpeg?w=600&quality=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    /* height: 90vh; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px white;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;

}

h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  text-align: center;
  margin-top: 10px;
}
::selection {
    background: rgb(15, 7, 76);
    color: rgb(247, 1, 1);
}
hr{
    width: 340px;
}
.empty{
    width: 80%;
    height: 40px;
    background-color: rgba(198, 191, 191, 0.66);
    color: white;
    /* margin-top: 60px; */
    /* text-align: center; */
    font-size: 1.2rem;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Password{
    width: 50%;
    background-color: rgba(198, 191, 191, 0.66);
    outline: none;
    color:   white;
    border: none;
    /* margin-top: 10px; */
    padding: 13px;

}
::placeholder{
    font-size: 12px;
    color:   white;
    text-align: center;
}
.check{
    width: 60%;
    height: 35%;
    border: 1px solid white;
    /* margin-top: 10px; */
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgb(0, 0, 0);
    font-size: 1.4rem;
    color: rgba(189, 183, 183, 0.943);
   
}
#error{
    width: 60%;
    /* height: 30%; */
}
input{
    margin-left: 20px;
}
button{
    width: 30%;
    height: 7%;
    /* border: 1px solid rgba(255, 0, 0, 0.632); */
    color: white;
    border: none;
    background-color: rgb(158, 150, 150);
    /* margin-top: 20px; */
    font-size: 1rem;
    transition: all 1.6s ease-in;
}
button:hover{
    font-style: italic;
    width: 35%;
    border:2px solid white;
}